@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #645BEC;
  --color-dark-mode: #080616;
  --color-gray-dark: #1C1A19;
  --color-gray-light: #DEDEDE;
  --color-toggle-dark:#282A2F;
  --color-toggle-light:#EFF0F3;
  --font-heading: "Anton", sans-serif;
  --font-body: "Roboto", sans-serif;
}
body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}