.nav-item {
  position: relative;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: calc(100% + 17px);
  left: 50%;
  transform: translateX(-50%) translateY(-8px);
  white-space: nowrap;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #dedede;
  color: #080616;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms ease-out,
    transform 250ms ease-out,
    visibility 250ms ease-out;
}

.nav-item:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.dark .tooltip {
  background-color: #1c1a19;
  color: white;
}